<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - LtiLogin</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <nav class="nav">
{#      <a class="nav-link active" href="#">Active</a>#}
{#      <a class="nav-link" href="#">Link</a>#}
{#      <a class="nav-link" href="#">Link</a>#}
{#      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
        {% block nav %}{% endblock %}
    </nav>

{% block body %}
{% endblock %}

</body>

